.details {
  text-align: center;
  margin: 60px;

}

.container {
  background-color: white;
  text-align: center;

}

.carousel-inner {}

.block-title {
  justify-content: space-between;
}

.block-share-save {
  padding-left: 43px;
}

.account-box {
  margin-top: 250px;
  margin-bottom: 200px;
}

.welcome-color {
  background-color: azure;
}

.view-b {
  background-color: #518ecb;
  color: ivory;
  text-align: end;
}

.book-b {
  color: #518ecb;
}

.color-css {
  color: #5fa8d3;
}


.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}


