.Details {
  text-align: center;
  margin: 60px;

}

.container {
  background-color: white;
  text-align: center;

}

.carousel-inner {
}

.block-title{
  justify-content: space-between;
}

.block-share-save{
padding-left: 43px;
}
