.details {
  text-align: center;
  margin: 60px;

}

.container {
  background-color: white;
  text-align: center;

}

.carousel-inner {}

.block-title {
  justify-content: space-between;
}

.block-share-save {
  padding-left: 43px;
}

.account-box {
  margin-top: 250px;
  margin-bottom: 200px;
}

.welcome-color {
  background-color: azure;
}

.view-b {
  background-color: #518ecb;
  color: ivory;
  text-align: end;
}

