
/* CSS BUTTONS*/

.center-button {
  display:flex;
  justify-content: center;
}

.button-1 {
  background: linear-gradient(to bottom right, #5b47ef, #5a60ff);
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-1:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(39, 37, 173, 0.5), .125rem .125rem 1rem rgba(84, 143, 232, 0.5);
}

.button-1:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(39, 37, 173, 0.5), .125rem .125rem 1rem rgba(84, 143, 232, 0.5);
}


.button-2 {
  background: linear-gradient(to bottom right, #5b47ef, #5a60ff);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-2:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(39, 37, 173, 0.5), .125rem .125rem 1rem rgba(84, 143, 232, 0.5);
}

.button-2:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(39, 37, 173, 0.5), .125rem .125rem 1rem rgba(84, 143, 232, 0.5);
}


.button-3 {
  background: linear-gradient(to bottom right, #f39c2a, #a17703);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-3:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(157, 61, 61, 0.5), -.125rem -.125rem 1rem rgba(220, 63, 10, 0.5), .125rem .125rem 1rem rgba(233, 30, 12, 0.5);
}

.button-3:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(157, 61, 61, 0.5), -.125rem -.125rem 1rem rgba(220, 63, 10, 0.5), .125rem .125rem 1rem rgba(233, 30, 12, 0.5);
}


.back-button {
  background: linear-gradient(to bottom right, #f39c2a, #a17703);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.back-button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(157, 61, 61, 0.5), -.125rem -.125rem 1rem rgba(220, 63, 10, 0.5), .125rem .125rem 1rem rgba(233, 30, 12, 0.5);
}

.back-button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(157, 61, 61, 0.5), -.125rem -.125rem 1rem rgba(220, 63, 10, 0.5), .125rem .125rem 1rem rgba(233, 30, 12, 0.5);
}
