.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.css-nav {
  color: #000000;
}

.cardpage{
  background-image: url("greybackground.avif");
  // background-color: lightgray;
  opacity: 0.8;
  }
