<div class="card col-6 shadow-lg p-3 mb-5 mt-5 bg-white" style="width: 50rem; margin: auto; border-radius: 5px;">
  <div class="text-center modify-text ">
    <h1>Add here your new car</h1>
  </div>
  <%= render "form", car: @car %>
</div>
