<div class="card col-6 shadow-lg p-3 mb-5 bg-white rounded" style="width: 50rem; margin: auto; border-radius: 5px;">
  <div class="card-body">
  <h1>Post an Ad</h1>
<%= render "form", car: @car %>
  </div>
</div>


